body
{
	margin: 0 auto;
	box-sizing: border-box;
}
#listBody
{
	text-align: center;
}
h1
{
	font-family: 'Quattrocento Sans', sans-serif;
	background-color: #2667fd;
	color: white;
	margin-top: 5px;
}
h2,li
{
	font-family: 'Work Sans', sans-serif;
	color: #2667fd;
}
li
{
	font-size: 30px;
}